--- ***Titanic Dataset Mini-Project*** ---

Hello ! MYSELF : SAMIA QADRI . I am a student of BSSE ,UBIT ,Karachi University.
This is a mini-project for my side course of AI And Data Science done using some different ml models.

In [300]:
import pandas as pd

In [301]:
data = pd.read_csv('train.csv')

FIRST UNDERSTANDING DATA AND DO DATA CLEANING:

In [302]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [303]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [304]:
data.isnull().sum()
# we find the total null values ,so that we can fill it later or drop

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [305]:
data=data.drop(columns= 'Name')

In [306]:
data['Age']=data['Age'].fillna(data['Age'].mode()[0])
data['Cabin']=data['Cabin'].fillna(data['Cabin'].mode()[0])
data['Embarked']=data['Embarked'].fillna(data['Embarked'].mode()[0])
print(data.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

FEATURE ENGINEERING:

In [307]:
data['Sex']= data['Sex'].map({'male': 0, 'female': 1})

In [308]:
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

MODEL IMPLEMENTATION:

1 - LOGISTIC REGRESSION:

In [309]:
# IMPORTING LIBRARIES:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.svm import SVC

In [310]:
# SPLITING DATA AND DEFINING X AND Y
X=X = data.drop(columns=['Survived', 'PassengerId', 'Ticket', 'Cabin'])
y = data['Survived']
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=42 )

In [311]:
def calculate_accuracy(model, x_test, y_test):
    y_pred = model.predict(x_test)
    return accuracy_score(y_test, y_pred)

In [312]:
model= LogisticRegression(max_iter=1000)
model.fit(X_train,y_train)
print("Accuracy of logistic refression is : ", calculate_accuracy(model,X_test, y_test))
print(classification_report(y_test, model.predict(X_test)))

Accuracy of logistic refression is :  0.8044692737430168
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

2- KNN MODEL:

In [313]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train_scaled, y_train)
print("Accuracy of KNN MODEL is : ", calculate_accuracy(knn,X_test_scaled, y_test))
print(classification_report(y_test, knn.predict(X_test_scaled)))

Accuracy of KNN MODEL is :  0.7877094972067039
              precision    recall  f1-score   support

           0       0.78      0.90      0.83       105
           1       0.81      0.64      0.71        74

    accuracy                           0.79       179
   macro avg       0.79      0.77      0.77       179
weighted avg       0.79      0.79      0.78       179

3 . RANDOM FOREST:

In [314]:
random_forest_model= RandomForestClassifier(n_estimators=100, random_state=42)
random_forest_model.fit(X_train, y_train)
print("Accuracy of Random Forest MODEL is : ", calculate_accuracy(random_forest_model,X_test, y_test))
print(classification_report(y_test, random_forest_model.predict(X_test)))

Accuracy of Random Forest MODEL is :  0.8212290502793296
              precision    recall  f1-score   support

           0       0.83      0.87      0.85       105
           1       0.80      0.76      0.78        74

    accuracy                           0.82       179
   macro avg       0.82      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

 4- XG BOOST:

In [315]:
xgb_model = xgb.XGBClassifier(n_estimators=100, max_depth=3,learning_rate=0.1,random_state=42 )
xgb_model.fit(X_train, y_train)
print("Accuracy of XG BOOST MODEL is : ", calculate_accuracy(xgb_model,X_test, y_test))
print(classification_report(y_test, xgb_model.predict(X_test)))

Accuracy of XG BOOST MODEL is :  0.8268156424581006
              precision    recall  f1-score   support

           0       0.82      0.90      0.86       105
           1       0.84      0.72      0.77        74

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.82       179

5 - SVC :

In [316]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
svc= SVC(kernel='rbf', C=1.0, random_state=42)
svc.fit(X_train_scaled, y_train)
print("Accuracy of svc  is : ", calculate_accuracy(svc,X_test_scaled, y_test))
print(classification_report(y_test, svc.predict(X_test_scaled)))

Accuracy of svc  is :  0.8212290502793296
              precision    recall  f1-score   support

           0       0.81      0.90      0.86       105
           1       0.84      0.70      0.76        74

    accuracy                           0.82       179
   macro avg       0.83      0.80      0.81       179
weighted avg       0.82      0.82      0.82       179